@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	html {
		scroll-behavior: smooth;
	}

	img {
		@apply rounded-xl object-cover;
	}
}
