@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.markdown {
		@apply leading-normal text-gray-900;

		p {
			@apply max-w-2xl mx-auto;
		}
	}
}
