// CSS for formatting markdown text

/* Styling for writing */
.markdown {
	@apply leading-normal text-gray-900;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply mx-auto max-w-xl font-semibold;
	}

	h1 {
		@apply mb-1 text-3xl;
	}

	h2 {
		@apply mb-1 text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4 {
		@apply text-lg;
	}

	h5 {
	}

	h6 {
		@apply text-sm;
	}

	p {
		@apply mx-auto mb-4 max-w-xl;
	}

	strong {
		@apply font-semibold;
	}

	pre {
		@apply mb-4 p-2 rounded bg-slate-800;

		code {
			@apply font-mono text-white bg-transparent;
		}
	}

	code {
		@apply bg-slate-200 px-0.5 rounded font-mono;
	}

	ol {
		@apply mb-4 mx-auto max-w-xl;

		li {
			@apply relative ml-1 mb-2 pl-4;
			counter-increment: list-counter;
		}

		li::before {
			@apply absolute font-normal text-gray-600;
			content: counter(list-counter) ".";
		}
	}

	ul {
		@apply mb-4 mx-auto max-w-xl;

		li {
			@apply relative mb-2 pl-5;
		}

		li::before {
			content: "";
			position: absolute;
			background-color: #cbd5e0;
			border-radius: 50%;
			width: 0.375em;
			height: 0.375em;
			top: calc(0.875em - 0.1875em);
			left: 0.25em;
		}
	}

	li hr {
		border-color: #e2e8f0;
		border-top-width: 1px;
		margin-top: 3em;
		margin-bottom: 3em;
	}

	blockquote {
		@apply font-medium italic;
		color: #1a202c;
		margin-top: 1.6em;
		margin-bottom: 1.6em;
	}

	figure figcaption {
		color: #718096;
		font-size: 0.875em;
		line-height: 1.4285714;
		margin-top: 0.8571429em;
	}

	table {
		@apply mx-auto w-full max-w-xl;
		table-layout: auto;
		text-align: left;
		margin-top: 2em;
		margin-bottom: 2em;
		font-size: 0.875em;
		line-height: 1.7142857;
	}

	thead {
		color: #1a202c;
		font-weight: 600;
		border-bottom-width: 1px;
		border-bottom-color: #cbd5e0;
	}

	thead th {
		vertical-align: bottom;
		padding-right: 0.5714286em;
		padding-bottom: 0.5714286em;
		padding-left: 0.5714286em;
	}

	tbody tr {
		border-bottom-width: 1px;
		border-bottom-color: #e2e8f0;
	}

	tbody tr:last-child {
		border-bottom-width: 0;
	}

	tbody td {
		vertical-align: top;
		padding-top: 0.5714286em;
		padding-right: 0.5714286em;
		padding-bottom: 0.5714286em;
		padding-left: 0.5714286em;
	}

	img {
		@apply w-full mb-4;
	}

	video {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	figure {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	figure > * {
		margin-top: 0;
		margin-bottom: 0;
	}

	h2 code {
		font-size: 0.875em;
	}

	h3 code {
		font-size: 0.9em;
	}

	ul {
		margin-top: 1.25em;
		margin-bottom: 1.25em;
	}

	li {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	ol > li:before {
		left: 0;
	}

	ul > li p {
		margin-top: 0.75em;
		margin-bottom: 0.75em;
	}

	ul > li > :first-child {
		margin-top: 1.25em;
	}

	ul > li > :last-child {
		margin-bottom: 1.25em;
	}

	ol ol,
	ol ul,
	ul ol,
	ul ul {
		margin-top: 0.75em;
		margin-bottom: 0.75em;
	}

	thead th:first-child {
		padding-left: 0;
	}

	thead th:last-child {
		padding-right: 0;
	}

	tbody td:first-child {
		padding-left: 0;
	}

	tbody td:last-child {
		padding-right: 0;
	}
}
