:root {
  /* Neutrals */
  --neutral-00: #ffffff00;
  --neutral-10: #ffffff10;
  --neutral-20: #ffffff20;
  --neutral-30: #ffffff30;
  --neutral-40: #ffffff40;
  --neutral-50: #ffffff50;
  --neutral-60: #ffffff60;
  --neutral-70: #ffffff70;
  --neutral-80: #ffffff80;
  --neutral-90: #ffffff90;
  --neutral-95: #ffffff95;
  --neutral: #ffffff;

  /* Colors */
  --red: #fc5c65;
  --blue: #4b7bec;
  --yellow: #fed330;
  --purple: #a55eea;
  --orange: #fd9644;
  --green: #1dd176;

  /* Elements */
  --page-background: #313437;
  --text-primary: var(--neutral);
  --text-secondary: var(--neutral-80);
  --text-tertiary: var(--neutral-50);
}
