html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: var(--page-background);
  color: var(--text-primary);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

::selection {
  background: var(--purple);
  color: var(--text-primary);
}

hr {
  border-color: #ffffff50;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}

.breadcrumbs {
  display: inline-flex;
  width: 100%;
  background-color: var(--page-background);
}

.breadcrumbs > li {
  padding-right: 0.5rem;
}

a {
  text-decoration: underline;
}

.max-width {
  width: 100%;
}

.scroll {
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  overflow-x: hidden;
  overflow-x: auto;
  text-align: justify;
}

.shadow {
  box-shadow: var(--shadow);
}
