.container {
  margin: 0 auto;
}

.grid-home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  column-gap: 4rem;
}

.grid-post {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}

.section-home {
  margin-top: 4rem;
}

.card {
  padding: 1rem;
  background-color: var(--dark-background);
  max-width: 10rem;
  margin: auto;
  border-radius: 0.25rem;
}

.flex-meta {
  display: flex;
}

.flex-meta > * {
  margin-right: 0.5rem;
}
