/* Alignment */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* Fills */
.v-fill {
  height: calc(100vh - 44.8px);
}

/* Grids */
.grid-grow {
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.gc-1-3 {
  grid-template-columns: 1fr 3fr;
}

.gc-1-2-1 {
  grid-template-columns: 1fr 2fr 1fr;
}

.gg-4 {
  gap: 1rem;
}

.gg-8 {
  gap: 2rem;
}

.gg-12 {
  gap: 3rem;
}

/* Width and sizing */
.mxw-266 {
  max-width: 64rem;
}

.mxw-160 {
  max-width: 40rem;
}

.mxw-128 {
  max-width: 32rem;
}

.mxw-100 {
  max-width: 25rem;
}

.mxw-88 {
  max-width: 22rem;
}

.mnw-80 {
  min-width: 20rem;
}

.w-fit {
  width: fit-content;
}
