.container {
  margin: 0 auto;
}

.grid-home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  column-gap: 4rem;
}

.gc-1-1 {
  grid-template-columns: 1fr 1fr;
}

.gc-3-1 {
  grid-template-columns: 3fr 1fr;
}

.g-fit {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.gg-4 {
  gap: 1rem;
}

.section-home {
  margin-top: 4rem;
}

.card {
  padding: 1rem;
  background-color: var(--dark-background);
  border-radius: 0.25rem;
}

.flex-baseline {
  align-items: baseline;
}

.flex-center {
  align-items: center;
}

.flex-spread {
  justify-content: space-between;
}

.flex-meta {
  display: flex;
}

.flex-meta > * {
  margin-right: 0.5rem;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.layout-post {
  margin: 4rem auto;
  max-width: 46rem;
}

.links {
  display: flex;
  justify-content: space-between;
}

.editor {
  display: grid;
  padding: 0 1rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  height: 90vh;
}

.editor-controls {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.grid-start {
  align-items: flex-start;
}

.w-128 {
  width: 32rem;
}
