html {
  background-color: var(--page-background);
  color: var(--text-primary);
  font-size: 16px;
}

a {
  text-decoration: underline;
}

hr {
  border-color: var(--neutral-50);
}

nav {
  height: 44.8px;
  background-color: var(--page-background);
}

nav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.link-display a {
  text-decoration: unset;
}

.link-display {
  cursor: pointer;
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
}

.link-display:hover {
  background-color: var(--neutral-10);
}

.borderless {
  border: transparent;
}

.h-center {
  margin-left: auto;
  margin-right: auto;
}

/* Extends `.container` from Tailwind */
.container {
  margin-left: auto;
  margin-right: auto;
}

/* Set list styling (unset by Tailwind) */
ul {
  list-style: disc;
  margin-left: 1rem;
  padding-left: 1rem;
  margin-bottom: var(--text-spacer);
}

ol {
  list-style: decimal;
  margin-left: 1rem;
  padding-left: 1rem;
  margin-bottom: var(--text-spacer);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

::-webkit-scrollbar-track {
  margin: 54px 0 53px;
}

::-webkit-scrollbar-thumb {
  background: var(--neutral-10);
  border-radius: 10px;
}

:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.45);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.55);
}
