html {
  background-color: var(--page-background);
  color: var(--text-primary);
  font-size: 18px;
}

a {
  text-decoration: underline;
}

hr {
  border-color: var(--neutral-50);
}

nav {
  height: 44.8px;
}

/* Extends `.container` from Tailwind */
.container {
  margin-left: auto;
  margin-right: auto;
}
