.pill {
  border-radius: 0.75rem;
  height: 1.5rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  background: var(--background);
}

.pill-red {
  --background: var(--red);
}

.pill-blue {
  --background: var(--blue);
}
