.pill {
  border-radius: 0.75rem;
  height: 1.5rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  background: var(--background);
}

.pill-red {
  --background: var(--red);
}

.pill-blue {
  --background: var(--blue);
}

.pill-yellow {
  --background: var(--yellow);
}

.pill-purple {
  --background: var(--purple);
}

.pill-orange {
  --background: var(--orange);
}

.pill-green {
  --background: var(--green);
}

.pill-dark {
  --background: var(--dark-background);
}

.pill-outline {
  border: 1px solid var(--text-primary);
}

.pill-button {
  cursor: pointer;
  --background: var(--dark-background);
}

.pill-button:hover {
  --background: var(--dark-hover);
}
