.pill {
  border-radius: 1rem;
  padding: 0.15rem 0.65rem;
  background-color: var(--pill-color);
}

.pill-red {
  --pill-color: var(--red);
}

.pill-blue {
  --pill-color: var(--blue);
}

.pill-yellow {
  --pill-color: var(--yellow);
}

.pill-purple {
  --pill-color: var(--purple);
}

.pill-orange {
  --pill-color: var(--orange);
}

.pill-green {
  --pill-color: var(--green);
}
